/* default styles */
html {
    box-sizing: border-box;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

/* main styles */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #1A1A1A;
    background: #F2F3F7;
}


/* colors text: 1A1A1A background: F2F3F7 darkblue: 192965 LightBlue: 0060CA  sky: 91CEFF yellow: FCDC74*/