.navbar {
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    background-color: #192965;
}

.navbar__container {
    vertical-align: middle;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.navbar__logo {
    text-decoration: none;
    color: #F2F3F7;
    text-transform: capitalize;
    font-size: 1.5rem;


}